body{
    margin: 0px;
}


.header{
    display: flex;
    justify-content: space-between;
    background: lawngreen;
    width: 100%;
    height: 50px;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}